fahsai.bus.ku.ac.th {
  encode zstd gzip

  handle_path /strapi* {
    reverse_proxy http://strapi:1338
  }

  handle_path /phpmyadmin* {
    reverse_proxy http://phpmyadmin:80
  }

  handle {
    reverse_proxy http://next:3000
  }
}