fahsai.bus.ku.ac.th {
  encode zstd gzip

  handle_path /phpmyadmin* {
    reverse_proxy phpmyadmin:80
  }

  handle_path /strapi* {
    reverse_proxy strapi:1337
  }

  handle {
    reverse_proxy nextjs:3000
  }

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "DENY"
    -Server
  }
}
