{
  servers {
    metrics
  }
}

fahsai.bus.ku.ac.th {
  encode zstd gzip

  # --- Strapi ---
  @strapiRoot path /strapi
  redir @strapiRoot /strapi/admin 308

  @strapi path /strapi*
  handle @strapi {
    header {
      X-Forwarded-Proto {scheme}
      X-Forwarded-Host  {host}
      X-Forwarded-Prefix /strapi
    }
    handle_path /strapi* {
      uri strip_prefix /strapi
      reverse_proxy http://strapi:1338
    }
  }

  # --- phpMyAdmin ---
  handle_path /phpmyadmin* {
    reverse_proxy http://phpmyadmin:80
  }

  # กันพลาด asset ของ phpMyAdmin ที่อ้างรูท
  @pmaAssets path_regexp pma ^/(js|themes|css|fonts|favicon\.ico|robots\.txt|vendor)/.*
  handle @pmaAssets {
    rewrite * /phpmyadmin{uri}
    reverse_proxy http://phpmyadmin:80
  }

  # --- Root (Next.js หรือ placeholder) ---
  handle {
    reverse_proxy http://next:80
  }
}
